# Binaries
/nmapshot
/bin/
/tmp/

# Git
.git/
.gitignore

# Environment files
.env
.env.*

# Kubernetes / Helm test files (if any are generated locally)
*.tar.gz
charts/**/*.tgz

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Docker / Skaffold
Dockerfile
.dockerignore
skaffold.yaml

Makefile
